{% extends "base/main.html" %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>
            Hello {{request.user|title}}
            <h3 style="margin : 0">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>
        </h1>
    </div>
    {% if request.user.is_authenticated %}

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top:20px; display:flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Search">
    </form> 
    
    <a id= "add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>

    



<div class="task-items-wrapper"></div>
    {% for task in tasks %}
    <div class="task-wrapper">
        
            {% if task.complete %}
                <div class="task-title">
                    <div class="task-complete-icon">
                        <i><s><a href = "{% url 'task-update' task.id %}" >{{task}}</a></s></i>
                    </div>
                </div>

                {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon">
                        <a href = "{% url 'task-update' task.id %}" >{{task}}</a>
                    </div>
                </div>
            {% endif %}
        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
    </div>
    {% empty %}
    <h3>no items in list</h1>
    {% endfor %}   



{% comment %} 
    <table><tr><th>
        Item
    </th></tr>
    {% for task in tasks %}
    <tr><td>
        {{task.title}}
    </td>
    <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
    <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h1>no items in list</h1>
    {% endfor %}
</table> {% endcomment %}
{% endblock content %}